name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - stable
          - 1.20.x
          - 1.19.x
          - 1.17.x
          - 1.16.x
          - 1.15.x
          - 1.14.x
          - 1.13.x
          - 1.12.x
          - 1.11.x
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      run: |
        go vet ./...
        go test -tags CI -race ./...
      env:
        GOPATH: /home/runner/go

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - name: Lint
      uses: Jerome1337/gofmt-action@v1.0.5
      with:
        gofmt-path: './'
        gofmt-flags: '-l -d'
